body {
    background-image: url(http://kingofwallpapers.com/bricks/bricks-007.jpg)
}
html, body {
    background-color: gray;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#canvas {
    /*width: 90%;*/   
    margin: 0px;
    float: left;
    position: relative;
    left: 5%;
    top: 5%;
    background: white;
}